
<tr id="line_item_<%= item.id %>">
  <td class="item_no"><%= item.item_no %></td>
  <td class="req_qty"><%= text_field("item[#{item.id}]", :quantity, :value => item.quantity, :class => "text required", :title => "##{item.item_no} quantity is required") %></td>
  <td class="uom">
	  <% @unit_for_measure = "EA"
	    if(!item.unit_of_measure.blank?)
	      @unit_for_measure = item.unit_of_measure
	    end
	      %>
	  <%= select "item[#{item.id}]", :unit_of_measure, UnitForMeasure.list_all, :selected => @unit_for_measure %>
      
  </td>
  <td class="item_description"><%= text_area("item[#{item.id}]", :material_description, :style => "width: 98%;", :rows => 2, :value => item.material_description, :class => "text required", :onclick => "clearTextArea(this); this.focus();", :title => "##{item.item_no} description of material is required") %></td>
  <td class="notes"><%= text_area("item[#{item.id}]", :notes, :value => item.notes, :rows => 2) %></td>
	<td class="btn">
		
		<%= remote_button "New", "/material_requests/new_line_item/", "loading", { :id => "new_blank_button_#{item.id}", :style => "display: inline;", :disabled => m_disabled? }, [:material_request_id, :item_count] %>
	
	</td>
	<td class="s_chk">
    
    <input type="checkbox" <% unless item.new_record? %> name="new_order[<%= item.id %>]" <% end %> onclick="$(this).up('tr').toggleClassName('selected'); Telaeris.enableCheckedButtons();">
    
  </td>
  
  <td class="radio">
    
    <% unless item.ordered_line_items.size > 0 %>
    <input type="radio" name="pipe_builder" value="<%= item.id %>" />
    <% end %>    
  </td>
	<td class="rem_link">
		<% unless item.ordered_line_items.size > 0 %>
		<%= link_to_remote image_tag('icons/delete.png'),
					{ :url => "/requested_line_items/destroy/#{item.id}", 
					  :confirm => "Are you sure you want to delete this line item?", 
					  :complete => "$('delete_#{item.item_no}').up('tr').replace('');" },
					 :title => "delete this line item", :id => "delete_#{item.item_no}" %>
		<% end %>
	</td>
  <td class="req_link">
    <% if item.ordered_line_items.size > 0 %>
    	<% item.ordered_line_items.each do |ordered_line_item| %>
			<% order = ordered_line_item.order %>
			<%= link_to "##{order.po_no}", edit_order_path(order) -%>
			<% if current_employee.admin? %>
			<a onclick="<%="if (confirm('Are you sure you want to remove this link to #{order.po_no.to_s} from this Line Item?')){
								if (confirm('Are you VERY Sure?')){ 
									new Ajax.Request('/material_requests/remove_po_link?ordered_line_item_id=#{ordered_line_item.id}&po_id=#{order.id}&requested_line_item_id=#{item.id}', {asynchronous:true, evalScripts:true}); 
									}; 
							}; 
							return false;" %>" href="#">(x)</a>
			<% end %>
    	<% end %>
    <% end %>
  </td>
</tr>

<script>
    $$('#line_item_<%= item.id %> input, #line_item_<%= item.id %> textarea').each(function(elem){
        Telaeris.enterToTab(elem);
    });
</script>