<style type="text/css" media="screen">
    th.tracking, td.tracking { width: 75px; }
    th.requested_on, td.requested_on { width: 95px; }
    th.desc, td.desc {}
    th.unit, td.unit { width: 120px; }
    th.requester, td.requester { width: 120px; }
    th.status, td.status { width: 120px; }
</style>

<table class="information" cellspacing="0">
  <tr>
    <th class="tracking"><%= link_to_sort "Tracking", "tracking", :include => ['status', 'group'] %></th>
    <th class="requested_on"><%= link_to_sort "Requested", "material_requests.date_requested", :include => ['status', 'group'] %></th>
    <th class="description"><%= link_to_sort "Description", "requested_line_items.material_description", :include => ['status', 'group'] %></th>
    <th class="unit">
      <select onchange="window.location=$F(this)" style="width: 120px;">
        <option value="<%= filter_url(:unit => nil) %>">-- UNITS --</option>
        <% MaterialRequest.all_units.each do |unit| %>
            <option value="<%= filter_url(:unit => unit.id) %>" <%= select_filter_if(params[:unit] == unit.id.to_s) %>><%= unit.description %></option>
        <% end %>
      </select>
      <%# link_to_sort "Unit", "units.description", :include => ['status'] %>
    </th>
    <th class="requester">
      <select onchange="window.location=$F(this)" style="width: 120px;">
        <option value="<%= filter_url(:requester => nil) %>">-- REQUESTERS --</option>
        <% MaterialRequest.all_requesters.each do |requester| %>
            <option value="<%= filter_url(:requester => requester.id) %>" <%= select_filter_if(params[:requester] == requester.id.to_s) %>><%= requester.full_name %></option>
        <% end %>
      </select>
      <%# link_to_sort "Requester", "employees.first_name", :include => ['status'] %>
    </th>
    <th class="status">Status</th>
  </tr>
</table>

<div id="maininfo">
  <table class="information" cellspacing="0">
    <% @material_requests.each do |m| %>
        <tr class="<%= cycle(:odd, :even) %>">
          <td class="tracking"><%= h m.tracking %></td>
          <td class="requested_on">
            <% if m.is_draft? %>
                <span style="color: gray;">Draft</span>
            <% else %>
                <%= m.date_requested.strftime('%m/%d/%y') %>
            <% end %>
          </td>
          <td class="desc"><%= link_to_desc m %></td>
          <td class="unit"><%= h m.unit.description %></td>
          <td class="requester"><%= h m.requester.short_name %></td>
          <td class="status"><%= m.status.html_safe %></td>
        </tr>
    <% end %>
  </table>
</div>

<%= render 'shared/will_paginate', collection: @material_requests %>
<%#= render :partial => "shared/paginate", :locals => { :collection => @material_requests } %>
