<style type="text/css" media="screen">
    .img_sort a { padding: 2px; }
    .img_sort img { display: none; }
    .img_sort a img { display: inline; }
    th.class_code, td.class_code{ width: 90px;}
    th.desc, td.desc {}
    th.maintenance_note, td.maintenance_note { width: 120px; }
    th.service, td.service { width: 140px; }
</style>

<table class="information" cellspacing="0">
  <tr class="header">
    <th class="class_code">
      <%= link_to_sort "Piping Class", "piping_classes.class_code", :include => [:piping_classes] %>
    </th>
    <th class="maintenance_note">
      <%= link_to_sort "Maintenance Note", "piping_classes.maintenance_note" %>
    </th>
    <th class="service">
      <%= link_to_sort "Service", "piping_classes.service" %>
    </th>
  </tr>
</table>

<div id="maininfo">
  <table class="information" cellspacing="0">
    <% @piping_classes.each do |piping_class| %>
        <tr class="<%= cycle(:even, :odd) %>" id="piping_class_<%= "#{piping_class.id}" %>">
          <td class="class_code">
            <%= link_to piping_class.class_code, url_for({:action => 'piping_class_details', :id => piping_class.id}) %>
          </td>
          <td class="maintenance_note"><%= h piping_class.maintenance_note %></td>
          <td class="service"><%= h piping_class.service %></td>
        </tr>
    <% end %>
  </table>
</div>

<%= render 'shared/will_paginate', collection: @piping_classes %>
<%#= render :partial => "shared/paginate", :locals => { :collection => @piping_classes } %>