<script type="text/javascript" charset="utf-8">
    function checkEmailTo(){
        if($F('email_to').match(/^\s*$/) && !$('autoprint').checked) {
            alert("Please enter an email address.");
            return false;
        }
        else {
            return Telaeris.validateEmails('email_to');
        }
    }
</script>

<form class="edit full" method="post" onsubmit="return checkEmailTo();" id="deliver_form">
  <div class="left">
    <p>
      <label>From</label>
      <input type="text" disabled="disabled" value="<%= current_employee.email || "no-reply@#{ENV['MAIL_DOMAIN']}" %>" class="text" />
    </p>
    <p>
      <label class="inline">To &nbsp;&nbsp;<a href="#" onclick="return Telaeris.changeEmail('email_to', '');">Clear</a> /
      <% if DEPLOY_SITE_NAME =~ /Carson/ -%>
                                  <a href="#" onclick="$('autoprint').checked = true; return Telaeris.changeEmail('email_to', 'bp.carson.fifth@gmail.com');">Fifth</a> /
      <% end %>

                                  <a href="#" onclick="return Telaeris.changeEmail('email_to', 'costvj@bp.com');">Buyer</a>
                                  <% if !current_employee.email.blank? %>
                                    / <a href="#" onclick="return Telaeris.changeEmail('email_to', '<%= current_employee.email %>');"><%= current_employee.short_name %></a>
                                  <% end %>
                                  </label>
                                  <input type="checkbox" name="autoprint" id="autoprint" style="margin-left: 10px" />
                                  <span style="font-weight: normal; font-size: 90%;">Send autoprint to <%= "#{ENV['WAREHOUSE_NAME']}" %></span>
      <textarea name="email" id="email_to"></textarea>
      <span class="description">Separate email addresses by commas, semi-colons, or spaces</span>
    </p>

    <p>
      <label>Subject</label>
      <input type="text" disabled="disabled" value="[<%= "#{ENV['DEPLOY_SITE_NAME']}"%> Material Tracker] POs: <%= @orders.map { |o| o.po_no }.join(', ') %>" class="text" />
    </p>

    <div class="left">
      <p>
        <label>Where</label>
        <input type="text" class="text" name="where" />
      </p>

      <p>
        <label>When</label>
        <input type="text" class="text" name="when" />
      </p>
    </div>


    <div class="right">
      <p>
        <label>Deliver To</label>
        <input type="text" class="text" name="deliver_to" />
      </p>

      <p>
        <label>Phone #</label>
        <input type="text" class="text" name="phone" />
      </p>
    </div>

    <p class="clear">
      <label>Message</label>
      <textarea name="notes" style="width: 100%; height: 100px;"></textarea>
    </p>
  </div>

  <div class="right">
    <p><label>Which items should be included in the email?</label></p>

    <table class="information">
      <tr>
        <th>#</th>
        <th><input id="all_check" checked="checked" type="checkbox" onclick="$$('.item_check').each(function(i) { i.checked = $('all_check').checked; })" /></th>
        <th>Description</th>
      </tr>
        <% @orders.each do |order| %>
            <tr><th colspan="3">PO# <%= order.po_no %></th></tr>
            <% order.ordered_line_items.each do |item| %>
              <tr>
                <td><%= item.line_item_no %></td>
                <td><input class="item_check" type="checkbox" name="line_items[<%= order.id %>][<%= item.id %>]" checked="checked" value="<%= item.id %>" /></td>
                <td><%= item.description %></td>
              </tr>
            <% end %>
        <% end %>
    </table>
  </div>

  <p class="menu clear">
    <input type="submit" class="submi" value="Send Email" <% if @alert_user %>onclick="return confirm('This order has only one line item, are you sure you want to issue the entire order?');"<% end %> />
    <input type="submit" class="submi" value="Preview" onclick="new Ajax.Request('<%= url_for(:controller => params[:controller], :action => params[:action], :id => params[:id]) %>', { parameters: $('deliver_form').serialize() }); return false;" />
  </p>
</form>

<div id="full_preview" style="display: none;">
    <a href="#go-back" onclick="$('full_preview').hide(); $('deliver_form').show();">Go Back</a>
<div id="preview">

</div>
    <a href="#go-back" onclick="$('full_preview').hide(); $('deliver_form').show();">Go Back</a>
</div>
