<style type="text/css" media="screen">
    #line_items { width: 95%; border-top: 1px solid #ccc; cursor: move; margin-top: 12px;}
    #line_items li { border-bottom: 1px solid #bbb; border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding: 4px 6px;}
    #line_items li.odd { background-color: #ddd; }
    
    #line_items li .line_item_no { color: #000; font-weight: bold; font-size: 110%; margin-right: 14px; }
    #line_items li .quantity { color: green; font-size: 95%; margin-right: 14px;}
    #line_items li .desc { font-weight: bold; font-size: 110%; margin-right: 14px;}
    
    p strong { font-weight: bold;}
</style>

<p>
    <strong>Click on an item and hold down your mouse button to hold it.  Re-order items by dragging them to the correct spot.</strong>
</p>

<ul id="line_items">
<% @order.ordered_line_items.each do |item|  %>
    <li class="<%= cycle :odd, :even %>" id="line_item_<%= item.id %>">
        <span class="line_item_no"><%= h item.line_item_no %></span>
        <span class="quantity"><%= h item.quantity_ordered %> ordered</span>
        <span class="desc"><%= h item.description %></span>
    </li>
<% end %>
</ul>

<%= sortable_element 'line_items', :url => { :action => :sort_line_items, :id => @order }, :complete => "finishSort()" %>


<script type="text/javascript" charset="utf-8">
    function finishSort() {
        $$('#line_items li').each(function(li, index){
            $(li).removeClassName('odd');
            $(li).removeClassName('even');
            if(index % 2 == 0) $(li).addClassName('odd');
            else $(li).addClassName('even');
            
            $(li).down('.line_item_no').innerHTML = (index + 1).toString();
        });
    }
</script>