<style type="text/css" media="screen">
    th.no, td.no { width: 200px; }
    th.name, td.name { }
    th.telephone, td.telephone { width: 200px; }
</style>

<table class="information" cellspacing="0">
  <tr>
    <th class="no">
      <%= link_to_sort "Vendor No", "vendors.vendor_no" %>
    </th>
    <th class="name">
      <%= link_to_sort "Name", "vendors.name" %>
    </th>
    <th class="telephone">
      <%= link_to_sort "Telephone", "vendors.telephone" %>
    </th>
  </tr>
</table>

<div id="maininfo">
  <table class="information" cellspacing="0">
    <% @vendors.each do |v| %>
        <tr class="<%= cycle(:even, :odd) %>">
          <td class="no">
            <%= h v.vendor_no %>
          </td>
          <td class="name">
            <%= link_to_desc v, :default => "No Name", :method => :name %>
          </td>
          <td class="telephone">
            <%= h v.telephone %>
          </td>
        </tr>
    <% end %>
  </table>
</div>

<%= render 'shared/will_paginate', collection: @vendors %>
<%#= render :partial => "shared/paginate", :locals => { :collection => @vendors } %>
