<h1>New Reference Number Type</h1>

<%= form_for(@type) do |f| %>
  	<%= f.error_messages %>

  	<p>
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
  	</p>
  	<p>
    	<%= f.label 'Order Number' %><br />
    	<%= f.text_field :order_number, :style => 'width: 100px;' %>
  	</p>
  	<p>
    	<%= f.submit 'Create Type' %>
  	</p>

	<p><%= link_to 'Back', groups_path %></p>

<% end %>

